@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@fontsource/ubuntu/400.css';
@import '@fontsource/ubuntu/500.css';
@import '@fontsource/ubuntu/700.css';
@import '@fontsource/inter/400.css';
@import '@fontsource/inter/500.css';
@import '@fontsource/inter/600.css';
@import '@fontsource/inter/700.css';
@import '@fontsource/inter/800.css';

@import "@fontsource/ibm-plex-mono/400.css";
@import "@fontsource/ibm-plex-mono/400-italic.css";
@import "@fontsource/ibm-plex-mono/600.css";
@import "@fontsource/ibm-plex-mono/600-italic.css";

.custom-datepicker .react-date-picker__inputGroup {
    border: none;
    box-shadow: none;

    *{
        border: none;
        box-shadow: none;
    }
}

.react-date-picker__wrapper{
    border: none;
    box-shadow: none;
}

.custom-datepicker .react-date-picker__inputGroup__input {
    border: none;
    box-shadow: none;
    *{
        border: none;
        box-shadow: none;
    }
}


* {
    box-sizing: border-box;
    margin: 0;
}

:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    overflow: hidden;
}

html, body {
    font-family: "inter";
    scrollbar-gutter: auto !important;
}

h1,h2,h3,h4,h5,h6{
    font-family: "ubuntu" !important;
    margin: 0;
}

p, pre, small{
    margin: 0;
}

.prose{
    code {
        border-radius: 5px;
        &::before {
            content: '```';
            display: inline;
            font-family: monospace;
        }
        &::after {
            content: '```';
            display: inline;
            font-family: monospace;
        }
    }
    h1,h2,h3,h4,h5,h6{
        margin: 0;
    }
    
}


.css-gradiente-animado {
    background: linear-gradient(270deg, #94e6db, #3891c9);
    background-size: 400% 400%;

    -webkit-animation: AnimationBackground 30s ease infinite;
    -moz-animation: AnimationBackground 30s ease infinite;
    -o-animation: AnimationBackground 30s ease infinite;
    animation: AnimationBackground 30s ease infinite;
}

@-webkit-keyframes AnimationBackground {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationBackground {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes AnimationBackground {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationBackground {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}